@import "tailwindcss";
@plugin "daisyui";

:root,
html {
  --bg-primary: #f8f7f4;
  --panel: #ffffff;
  --accent: #4f46e5;
  --heading-font: Space Grotesk;
  --body-font: JetBrains Mono;
}

html.dark {
  --bg-primary: #0a0e14;
  --panel: rgba(255, 255, 255 0.05);
  --accent: #00d4ff;
  --success: #10b981;
  --error: #ef4444;
}

html,
body {
  background-color: var(--bg-primary);
  color: var(--accent);
}

.drawer {
  position: relative;
  top: 10rem;
}
